---
import Layout from "../layouts/layout.astro";
import BlogCard from "../components/BlogCard.astro";
import PageTitle from "../components/PageTitle.astro";

const posts = await Astro.glob("../posts/*.mdx");
---

<Layout title="Blog">
  <section class="page-content">
    <PageTitle title={"Blog"} subTitle={"Always something to read..."} />
    <div class="container">
      {
        posts.map((post) => (
          <BlogCard
            image={post.frontmatter.image}
            title={post.frontmatter.title}
            excerpt={post.frontmatter.excerpt}
            slug={post.frontmatter.slug}
          />
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .container {
    width: 80%;
    margin: 2rem auto;
  }
</style>
