---
import Features from "../components/Features.astro";
import Showcase from "../components/Showcase.astro";
import Layout from "../layouts/layout.astro";
---

<Layout>
  <Showcase />
  <Features />

  <section class="page-content">
    <div class="container"></div>
  </section>
</Layout>
