---
import Features from "../components/Features.astro";
import Projects from "../components/Projects.astro";
import Showcase from "../components/Showcase.astro";
import TextBlock from "../components/TextBlock.astro";
import Layout from "../layouts/layout.astro";

const aboutMe =
  "I'm Henk Bourgonje, a software engineer based in Groningen, the Netherlands. I have over four years of professional experience in backend engineering and I am currently expanding my knowledge on the front end by working on my side projects. Over the last four years, I've had the opportunity to work for large companies as well as a fast growing scale-up called Klippa, at which I am currently building the backend for a brand new platform in Go.";
---

<Layout>
  <Showcase />
  <Features />
  <div class="container">
    <TextBlock title="About me" text={aboutMe} />
    <Projects />
  </div>

  <section class="page-content">
    <div class="container"></div>
  </section>
</Layout>
