---
export interface Props {
  title: any;
  excerpt: any;
  slug: any;
}
const { title, excerpt, slug } = Astro.props as Props;
---

<a href={`/blog/${slug}`}>
  <div class="blog_card">
    <div class="content">
      <h3>{title}</h3>
      <p>{excerpt}</p>
    </div>
  </div>
</a>

<style>
  .blog_card {
    background: #fff;
    border-radius: 0.7rem;
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, 0.1);
    margin-bottom: 1.2rem;
  }

  .image {
    height: 40vh;
    overflow: hidden;
  }

  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .content {
    padding: 2rem;
  }

  @media screen and (min-width: 900px) {
    .blog_card {
      display: flex;
      overflow: hidden;
    }

    .image {
      height: auto;
      flex: 4;
    }

    .content {
      flex: 6;
    }
  }
</style>
