---
export interface Props {
  image: string;
  title: string;
  body: string;
  techList: string[];
}
const { image, title, body, techList } = Astro.props as Props;
---

<div class="card">
  <img class="image" src={image} alt="" />
  <h3>{title}</h3>
  <p>{body}</p>
  <h4>Tech list</h4>

  <ul>
    {techList.map((item) => <li>{item}</li>)}
  </ul>
</div>

<style>
  .card {
    margin: -150px auto;
    background: #fff;
    padding: 32px 35px 32px 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
  }

  .image {
    max-height: 38px;
    margin-bottom: 32px;
  }
</style>
