---
import Card from "./Card.astro";
import klippaLogo from "../images/klippa_logo.webp";
import ordinaLogo from "../images/ordina_logo.png";
import TextLogoCard from "./TextLogoCard.astro";
---

<section class="features">
  <div class="container">
    <Card
      image={klippaLogo}
      title="Backend Developer",
      startsAt="09-2021"
      endsAt="Now"
      body="For Klippa I am working on the backend of a brand new greenfield self sign-on platform for clients to access and manage their usage of the company's services.",
      techList={["Golang", "GraphQL", "Docker/Kubernetes/Helm", "MySQL", "Git"]}
    />
    <TextLogoCard
      textLogo="TBA"
      title="Founder"
      startsAt="02-2023"
      endsAt="Now"
      body="In my free time, I am building a platform with the goal of changing the way people apply for work. More information will be coming as soon as the beta version is live."
      techList={["SvelteKit", "Astro", "Cloudflare", "Typescript", "Supabase"]}
    />
    <Card
      image={ordinaLogo}
      title="Software Engineer"
      startsAt="02-2019"
      endsAt="09-2021"
      body="For Ordina I worked on a contract basis for a government agency as well as a couple of internal projects. I have learned a great deal about software engineering in big enterprises.",
      techList={["Golang", "GraphQL", "Kubernetes/Helm", "MySQL", "Git"]}
    />
  </div>
</section>

<style>
  .features {
    background: linear-gradient(0deg, #fff 80%, #0f172a 20%);
  }

  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  @media (max-width: 500px) {
    .features .container {
      grid-template-columns: 1fr;
    }
  }
  @media (max-width: 900px) {
    .features .container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
