---
import Card from "./Card.astro";
import klippaLogo from "../images/klippa_logo.webp";
import ordinaLogo from "../images/ordina_logo.png";

const featuresData = [
  {
    image: klippaLogo,
    title: "Backend Developer",
    body: "For Klippa I am working on the backend of a brand new self sign-on platform for clients to access and manage their usage of the company's services.",
    techList: ["Golang", "GraphQL", "Kubernetes/Helm", "MySQL", "Git"],
  },
  {
    image: ordinaLogo,
    title: "Software Engineer",
    body: "For Ordina I worked on a contract basis for a government agency. ",
    techList: ["Java", "Angular", "Postgres", "HTML/CSS", "Ionic", "Git"],
  },
  {
    image: ordinaLogo,
    title: "Blockchain Graduation Project",
    body: "Components only hydrate when they scroll into view. If you don't see it, Astro won't load it. Astro renders HTML on the server and strips away any remaining, unused JavaScript.",
    techList: [
      "Solidity",
      "Javascript",
      "HTML/CSS",
      "Truffle",
      "Ganache",
      "Metamask",
      "Git",
    ],
  },
];
---

<section class="features">
  <div class="container">
    {
      featuresData.map((feature) => (
        <Card
          image={feature.image}
          title={feature.title}
          body={feature.body}
          techList={feature.techList}
        />
      ))
    }
  </div>
</section>

<style>
  .features {
    background: linear-gradient(0deg, #fff 80%, #0f172a 20%);
  }

  .features .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  @media (max-width: 500px) {
    .features .container {
      grid-template-columns: 1fr;
    }
  }
</style>
