---
import SocialIcons from "./SocialIcons.astro";
---

<nav class="mobile-nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Say Hello</a></li>
    <li>
      <SocialIcons />
    </li>
  </ul>
</nav>

<style>
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--color-primary);
    padding-top: 120px;
    transition: 0.4s;
  }

  .mobile-nav.is-active {
    left: 0;
  }

  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;

    color: #fff;
    text-decoration: none;
  }
</style>
