---
import logo from "../images/logo.svg";
import FullScreenMenu from "./FullScreenMenu.astro";
import HamburgerMenuButton from "./HamburgerMenuButton.astro";
import SocialIcons from "./SocialIcons.astro";
---

<script>
  const menuButton = document.querySelector(".hamburger");
  const fullScreenMenu = document.querySelector(".mobile-nav");
  menuButton.addEventListener("click", function () {
    menuButton.classList.toggle("is-active");
    fullScreenMenu.classList.toggle("is-active");
  });
</script>

<header class="header">
  <FullScreenMenu />
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src={logo} alt="" />
      </a>
    </div>
    <nav class="navigation">
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Say Hello</a></li>
        <li>
          <SocialIcons />
        </li>
      </ul>
    </nav>
    <HamburgerMenuButton class="hamburger-menu" />
  </div>

  <style>
    .header {
      height: 100px;
      background: var(--color-primary);
    }
    .header .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem;
    }
    .header img {
      height: 2rem;
      vertical-align: middle;
    }
    .header nav ul {
      display: flex;
      align-items: center;
    }
    .header nav ul li {
      height: 100%;
      padding-left: 2rem;
    }
    .header nav ul li a {
      color: #fff;
    }
    .btn {
      border-radius: 2rem;
    }
    .logo {
      z-index: 99;
    }

    @media (max-width: 900px) {
      .navigation {
        display: none;
      }
    }
  </style>
</header>
