---
export interface Props {
  title: string;
  subTitle: string;
}

const { title, subTitle } = Astro.props as Props;
---

<div class="page-title">
  <h2 class="title-text">{title}</h2>
  <h2 class="subtitle-text">{subTitle}</h2>
</div>

<style>
  .page-title {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-text {
    margin: 1.5rem;
    font-weight: 500;
    font-size: 2rem;
  }

  .subtitle-text {
    font-weight: 500;
    font-size: 1.5rem;
  }
</style>
