---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "This Portfolio Website",
    desciption:
      "I have made this website to showcase my projects and share blog posts. It was a great project to get my CSS skills to the next level.",
    technologies: ["Astro", "HTML", "CSS", "Typescript"],
    link: "https://github.com/HenkBourgonje/personal_portfolio",
  },
  {
    title: "Golang SDK for the V2 API of LinkedIn",
    desciption:
      "For a project I'm working on I needed to use the V2 version of the LinkedIn API. Since there isn't an SDK for it yet, I might as well make it myself.",
    technologies: ["Golang", "REST"],
    link: "",
  },
  {
    title: "More coming soon...",
    desciption: "",
    technologies: [],
    link: "",
  },
];
---

<div class="container">
  <h3>My Projects</h3>
  <div class="projects">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          desciption={project.desciption}
          technologies={project.technologies}
          link={project.link}
        />
      ))
    }
  </div>
</div>

<style>
  .container {
    padding-top: 2rem;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 2rem 0rem;
  }

  @media (max-width: 900px) {
    .projects {
      grid-template-columns: 1fr;
    }
  }
</style>
