---
import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "To Be Announced...",
    desciption:
      "I have been building a platform with the goal of changing the way people apply for work. The beta version will soon be released and more information will then follow.",
    technologies: ["TypeScript", "SvelteKit", "Vercel", "Supabase", "Git"],
    link: "",
  },
  {
    title: "This Portfolio Website",
    desciption:
      "I have made this website to showcase my projects and share blog posts. It was a great project to get my CSS skills to the next level.",
    technologies: ["Astro", "HTML", "CSS", "Typescript"],
    link: "https://github.com/HenkBourgonje/personal_portfolio",
  }
];
---

<div class="container">
  <h3>My Projects</h3>
  <div class="projects">
    {
      projects.map((project) => (
        <ProjectCard
          title={project.title}
          desciption={project.desciption}
          technologies={project.technologies}
          link={project.link}
        />
      ))
    }
  </div>
</div>

<style>
  .container {
    padding-top: 2rem;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 2rem 0rem;
  }

  @media (max-width: 900px) {
    .projects {
      grid-template-columns: 1fr;
    }
  }
</style>
