---
import smilingDeveloper from "../images/smiling_developer.jpeg";

const heading = "Hi there, I am Henk Bourgonje";
const text =
  "I am a backend developer with a great passion for what I do. I'm currently building the backend of a brand new platform for a top 10 scale-up in the Netherlands.";
---

<section class="showcase">
  <div class="container">
    <div class="showcase-header">
      <div class="showcase-header-text">
        <div class="showcase-text">
          <h1>{heading}</h1>
          <p>
            {text}
          </p>
        </div>
      </div>

      <div class="showcase-header-image">
        <div class="showcase-img">
          <img class="smiling_developer" src={smilingDeveloper} alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .showcase-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .showcase-header-text {
    flex-grow: 6;
  }

  .showcase {
    height: auto;
    background-color: var(--color-primary);
    padding: 2rem 0px;
  }

  .showcase-text {
    display: inherit;
    color: #fff;
    text-align: left;
  }

  .showcase h1 {
    font-size: 3.3rem;
    color: #fff;
    margin-bottom: 1rem;
  }

  .showcase p {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .showcase-img img {
    border-radius: 0.6rem;
    margin: auto;
  }

  .smiling_developer {
    width: 100%;
    border-radius: 50%;
  }

  @media (max-width: 1480px) {
    .showcase-text {
      padding-right: 2rem;
    }
  }

  @media (max-width: 780px) {
    .showcase-header {
      flex-direction: column;
    }
  }
</style>
